body {
  margin: 0;
  font: 500 18px 'Poppins', sans-serif;
  background-color: whitesmoke;
}

.item-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 34%);
}

.product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product:nth-child(1) {
  background-color: #540D6E;
}

.product:nth-child(2) {
  background-color: #ffbb00;
}

.product:nth-child(3) {
  background-color: #ee4266;
}

.product:nth-child(4) {
  background-color: #3bceac;
}

.product:nth-child(5) {
  background-color: #89bd59;
}

.product:nth-child(6) {
  background-color: #f72a26;
}


.product-photo {
    height: 400px;
    margin: 50px;
}

.product-description {
  color: white;
  margin-right: 100px;
  text-transform: uppercase;
  display: flexbox;
}

.add-to-cart {
  padding: 10px;
  text-decoration: none;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
}

.cart {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.cart-row {
  display: flex;
  align-items: center;
  margin: 50px 0 50px 0;
  border-bottom: 1px solid black;
}

.cart-item {
  width: 60%;
  padding-bottom: 10px;
  display: flex;
}

.cart-price {
  width: 20%;
  padding-bottom: 10px;
}

.cart-quantity {
  width: 20%;
  padding-bottom: 10px;
}

.cart-total {
  padding-bottom: 10px;
}

.item-quantity {
  width: 25px;
  height: 25px;
  margin: 10px;
  border: 2px solid black;
  background-color: transparent;
}

.cart-item-image {
  width: 100px;
  height: auto;
  margin-right: 50px;
}

.purchase {
  margin: 50px 0 50px 0;
  padding: 10px;
  text-decoration: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.purchase:hover {
  background-color: black;
  color: white;
}

.hero-shot {
  position: relative;
  text-align: center;
  color: white;
  height: 100vh;
}

.hero-shot-bg {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.hero-text {
  padding: 20px;
  background-color: white;
  color: #540D6E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.our-promise, .homepage-products {
  text-align: center;
  margin-top: 200px
}

.promise-flex, .homepage-grid {
 margin: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.promise-item {
  margin-top: 50px;
  width: 250px;
  padding: 10px;
  border: 1px solid black;
}

.homepage-grid {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 50%);
}

.homepage-product-photo {
  height: 400px;
  margin: auto;
  padding: 50px;
}

.lookbook {
  margin: 200px auto;
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.lookbook-flex {
  display: flexbox;
}

.lookbook-photo {
  object-fit: cover;
  width: 200px;
  height: 300px;
  margin-right: 25px;
}
